.root{
	-fx-bullwank: #566c4f;
	-fx-lordshit: greenyellow;
	-fx-mbtc:-fx-lordshit;
}

MenuBarSkin, menu-bar-skin,
.menu-bar-skin{
	-fx-text-fill: -fx-mbtc;
    -fx-fill:-fx-mbtc;
    -fx-background-color: #21273e;
    -fx-skin:#21273e;
}

.menu-bar, .menu-bar .label, MenuBar, MenuBar Label,
.menu-item, .menu-item .label,MenuItem, MenuItem Label.
.menu , .menu .label, Menu, Menu Label,
.menu-bar-skin, .menu-bar-skin .label, MenuBarSkin, MenuBarSkin Label,
.conetxt-menu,.context-menu .label, ContextMenu, ContextMenu Label,
.menu-bar .container, MenuBar .container,MenuBar Container,
.menu-button,MenuButton{
 	-fx-text-fil:  -fx-mbtc;
    -fx-fill:  -fx-mbtc;
    -fx-background-color: #21273e;
    -fx-padding:16;
		-fx-text:greenyellow;
		-fx-fill:greenyellow;
		-fx-text-fill:greenyellow;
}

.menu-bar {
    -fx-text-fill: -fx-mbtc;
    -fx-fill: -fx-mbtc;
    -fx-background-color: #21273e;
}

.menu-item {
    -fx-text-fill: -fx-mbtc;
    -fx-fill: -fx-mbtc;
    -fx-background-color: #21273e;
    -fx-font-size:18;
		-fx-text:greenyellow;
		-fx-fill:greenyellow;
		-fx-text-fill:greenyellow;
}

.menu-button{
	-fx-background-color: #21273e;
}

.menu-bar .container{
	-fx-background-color: #21273e;
}

.menu{
	-fx-text:greenyellow;
	-fx-fill:greenyellow;
	-fx-text-fill:greenyellow;
	-fx-background-color: #21273e;
}

.menu-item:focused, .menu-item:hovered 
.menu-item:focused .label, .menu-item:hovered .label{
    -fx-background-color: greenyellow; 
    -fx-text-fill:#21273e;
}

.list-view .list-cell, .list-cell, .list-view .text-field-list-cell .text-field{
	-fx-background-color: black;
	-fx-text-fill: greenyellow;
	-fx-text: greenyellow;
	-fx-fill:black;
	-fx-control-inner-background: black;
	-fx-selection-bar:greenyellow ;
}
